.message {
  flex-basis: 400px;
  height: 45vh;
  border-radius: 10px;
}

.message_style {
  box-shadow: 0 0 5px 2px lightgray;
  background-color: white;
}

.message__container {
  flex-basis: 100%;
  padding: 20px;
  max-height: 35vh;
}

.message__date {
  text-align: right;
  font-size: 0.95rem;
}

.date__title {
  font-weight: 600;
}

.amount__title {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 440px) {
  .message__link {
    font-size: 0.9rem;
  }
}

