<div class="container__content flex flex_center">
  <div *ngIf="isMessageChosen" class="message message_style flex flex_center">
    <div class="message__container scroll">
      <h3>{{currentMessage.title}}</h3>
      <p>{{currentMessage.content}}</p>
      <p><a [href]="currentMessage.link" class="message__link"  target="_blank">{{currentMessage.link}}</a></p>
      <p class="message__date">
        <span class="date__title"> Publication Date: </span>{{publicationDate | date:'MMM d, y, h:mm:ss a'}}
      </p>
    </div>
  </div>
  <div *ngIf="!isMessageChosen" class="no-data flex flex_center">
    <div class="no-data__message flex flex_column align_center">
      <p>
        You didn't choose any message. Please go to Active Channel and choose message you like.
      </p>
      <a routerLink="../../channels/active">
        <button class="clickable button redirect__button" type="button">Go to Active Channel</button>
      </a>
    </div>
  </div>
</div>

