<nav class="nav flex align_center" role="navigation">
  <div class="menu" (click)="isDropdownClicked = !isDropdownClicked">
    <div class="menu__item"></div>
    <div class="menu__item"></div>
    <div class="menu__item"></div>
  </div>
  <ul [ngClass]="isDropdownClicked && 'hide-menu'" class="nav__list flex font">
    <li><a routerLinkActive="active" [routerLink]="['dashboard/channels/all']" class="link">Channels</a></li>
    <li><a routerLinkActive="active" [routerLink]="['dashboard/channels/active']"  class="link">Active Channel</a></li>
    <li><a routerLinkActive="active" [routerLink]="['dashboard/message']" class="link">Message</a></li>
    <li><a routerLinkActive="active" [routerLink]="['dashboard/statistics']" class="link">Statistics</a></li>
  </ul>
</nav>


