.nav__list {
  list-style-type: none;
  margin: 0;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.link:hover {
  background: black;
}

.link {
  text-decoration: none;
  color: white;
  padding: 20px;
  opacity: 1;
  font-size: 1.05rem;
}

.active {
  box-shadow: 0 0 3px 0 white;
}

.menu {
  display: none;
  cursor: pointer;
  margin-left: 30px;

}

.menu__item {
  height: 6px;
  margin: 2px;
  width: 40px;
  border-radius: 2px;
  background: white;
}

.nav {
  width: 100vw;
  height: 15vh;
  align-items: stretch;
}

.hide-menu {
}

@media (max-width: 520px) {
  .nav__list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 15vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .link {
    padding: 10px 0;
    display: block;
    text-align: center;
  }

  .nav__list li {
    align-self: stretch;
  }

  .nav {
    align-items: center;
    position: relative;
  }

  .menu {
    display: block;
  }

  .hide-menu {
    display: none;
  }
}


