<div
  class="border channel shadow clickable"
  (click)="setSelectedChannel(channel)"
>
  <div class="channel__src flex justify_center">
    <h2 class="channel__title">{{title}}</h2>
    <a [href]="link" class="channel__link" target="_blank" [title]="link">
      <img src="../../../../assets/svg/external-link.svg" alt="link">
    </a>
  </div>

  <img class="channel__img" [src]="channelImg" alt="ChannelImage">
</div>
