.channel {
  padding: 10px;
  margin: 10px;
  background: white;
}

.channel__title {
  margin: 5px 0;
}

.channel_src {
  width: 70%;
}

.channel__img {
  width: 30%;
}

.shadow {
  box-shadow: 0 0 4px 2px lightgray;
}

.border {
  border-radius: 5px 0  5px 0;
}
