<div class="container__content flex justify_center">
  <div *ngIf="isChannelChosen" class="message-list flex flex_column align_center">
    <div class="amount amount_bg">
      <p class="font">Messages amount: {{messageAmount}}</p>
    </div>
    <div class="message-list__container flex flex_column align_center scroll">
      <div class="message-list__item flex" *ngFor="let message of channel.items">
        <div class="message__data">
          <h2 class="message__title">
            {{message.title}}
            <a [href]="message.link" [title]="message.link" target="_blank">
              <img class="img_size" src="../../../../assets/svg/external-link.svg" alt="Link">
            </a>
          </h2>
        </div>
        <div class="flex align_center">
          <a [routerLink]="['../../message']" (click)="setActiveMessage(message)">
            <img class="message__icon" [src]="message.enclosure.url" alt="MessageIcon">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isChannelChosen" class="no-data self_center flex flex_center">
    <div class="no-data__message flex flex_column align_center">
      <p>
        You didn't choose any channel. Please go to Channels and choose channel you like.
      </p>
      <a routerLink="../../channels/all">
        <button class="clickable button redirect__button" type="button">Go to Channels</button>
      </a>
    </div>
  </div>
</div>
