.message-list {
  height: 85vh;
  flex-basis: 600px;
  background: white;
  align-items: stretch;
}

.message-list__container {
  height: 75vh;
}

.message-list__item {
  margin: 10px;
  box-shadow: -1px 1px 2px 0 lightgray;
}

.message__data {
  position: relative;
}

.message__title {
  margin: 0 5px;
}

.message__icon {
  width: 120px;
  height: 60px;
}

.img_size {
  width: 25px;
  height: 25px;
}
@media (max-width: 400px) {

  .message__title {
    font-size: 1.05rem;
  }

  .message__icon {
    width: 100px;
    height: 50px;
  }
}
