<div [ngClass]="isPageFound && 'bg__home flex_align_end'" class="container flex">
  <header *ngIf="isPageFound" class="header align_start absolute bg_black">
    <app-header></app-header>
  </header>
  <main class="container__content flex flex_size ">
    <router-outlet></router-outlet>
  </main>
</div>
