.bg__home {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/background_1366x768.jpg");
}

.bg_black {
  background: rgba(0, 0, 0, 0.42);
}

.header {
  width: 100vw;
  height: 15vh;
}

.flex_align_end {
  align-items: flex-end;
}

.align_start {
  align-self: flex-start;
}

