<div class="container flex flex_center absolute">
  <div class="flex justify_center wrap">
    <img src="../../../assets/svg/sad.svg" alt="SadFace">
    <p class="font text_center flex_size"> Sorry we couldn't find your page... :( </p>
  </div>
</div>
