<div
  class="container__content flex justify_center"
  [ngClass]="isChannelStillLoading && 'align_center'"
>
  <div *ngIf="isChannelStillLoading" class="spinner spinner__container">
  </div>
  <div class="channel-list flex flex_column align_center" *ngIf="!isChannelStillLoading">
    <div class="amount amount_bg">
      <p class="font">Channels amount: {{channelAmount}}</p>
    </div>
    <div class="channel__new flex align_center">
      <div class="channel__add">
        <label for="newChannel"></label>
        <input
          type="text"
          id="newChannel"
          class="channel__input input"
          #inputChannel
          [(ngModel)]="newChannelUrl"
        >
        <button
          class="channel__button button clickable"
          (click)="addNewChannel(); inputChannel.value = ''"
        >
          Add channel
        </button>
      </div>
    </div>

    <div class="channel-list__container flex align_center scroll">
      <div class="flex wrap channel-list__content">
        <a
          class="card"
          routerLink="../active"
          *ngFor="let channel of channels"
        >
          <app-channel
            [title]="channel.title"
            [link]="channel.link"
            [channelImg]="channel.image.url"
            [channel]="channel"
          ></app-channel>
        </a>
      </div>
    </div>
  </div>
</div>
