.channel-list {
  height: 85vh;
  flex-basis: 600px;
  background: white;
}

.channel__new {
  height: 15vh;
}
.channel-list__container {
  height: 60vh;
}

.channel-list__content {
  max-height: 60vh;
}

.card {
  flex-basis: 200px;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}


.input {
  border-radius: 2px;
  border: solid 1px lightgray;
}

.channel__input {
  width: 230px;
  padding: 7px;
}


.channel__button {
  padding: 9px;
  background: green;
  color: white;
}

.spinner {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;

}

.spinner__container {
  border: solid 8px transparent;
  border-top:solid 8px deepskyblue;
  border-bottom:solid 8px deepskyblue;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.channel__add {}

@keyframes spin {
  from { transform: rotate(0) }
  to{ transform: rotate(360deg)}
}


@media (max-width: 350px) {
   .channel__add {
     display: flex;
     flex-direction: column;
   }

  .channel__button {
    padding: 12px 9px;
  }
}
