/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container__content {
  width: 100vw;
  height: 85vh;
}

.flex {
  display: flex;
}


.flex_center {
  justify-content: center;
  align-items: center;
}


.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.self_center {
  align-self: center;
}

.wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
}

.flex_column {
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  filter: brightness(110%);
}

.clickable:active {
  filter: brightness(80%);
}


.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.font {
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
}

.amount {
  height: 10vh;
  flex-grow: 1;
  align-self: stretch;
  text-align: center;
}

.amount_bg {
  background: #F9AB03;
  box-shadow: 0 1px 2px 0 lightgray;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffa300;
}

::-webkit-scrollbar-thumb:active {
  background: #b9baad;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.scroll {
  overflow-y: auto;
}

.no-data {
  flex-basis: 400px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #6c0000;
}


.no-data__message {
  padding: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.button {
  border: none;
  border-radius: 5px;
}

.redirect__button {
  background: blue;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
}

.grow-1 {
  flex-grow: 1;
}

.no-decoration {
  text-decoration: none;
}

