.statistics {
  height: 85vh;
  background: white;
  flex-basis: 600px;
}


.count__statistics {
  flex-grow: 1;
  height: 15vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
}


.amount_border {
  outline: solid 1px lightgray;
}

.active-message {
  height: calc(70vh - 2px);
}

.stats__data {
  margin-top: 20px;
  align-self: stretch;
}

.stats__icon {
  width: 15px;
  height: 15px;
}

.icon_orange {
  background: #f16e23;
}

.icon_yellow {
  background: #fde23e;
}

.percent__title {
  margin:  0 0 0 5px;
}

.m-b-100 {
  margin-bottom:100px;
}
.m-s-5 {
  margin: 0 10px;
}

@media (max-width: 427px){
  .amount_border {
    outline: none;
  }
  .statistics {
    overflow-y: auto;
  }

}

