<div class="container__content flex justify_center">
  <div class="statistics flex wrap">
    <div class="count__statistics flex flex_center amount_border">
      <a routerLink="../../channels/all" class="no-decoration">
        <div *ngIf="!isChannelsLoaded" class="redirect__button clickable">
          Please load channels!
        </div>
      </a>
      <p *ngIf="isChannelsLoaded" class="m-s-5">Channels amount: {{channelsCount}}</p>
    </div>
    <div class="count__statistics flex flex_center amount_border">
      <a routerLink="../../channels/active" class="no-decoration">
        <div *ngIf="!isChannelChosen" class="redirect__button clickable">
          Please choose any channel!
        </div>
      </a>
      <p *ngIf="isChannelChosen">Messages amount: {{messagesCount}}</p>
    </div>
    <div  class="active-message flex flex_column flex_center grow-1">
      <div>
        <a routerLink="../../message" class="no-decoration">
          <div *ngIf="!isMessageChosen" class="redirect__button clickable m-b-100 font">
            Please choose any message!
          </div>
        </a>
        <canvas *ngIf="isMessageChosen" #messageCanvas height="270" width="270"></canvas>
      </div>
      <div class="flex stats__data">
        <div class="grow-1 flex flex_center">
          <div class="stats__icon icon_orange"></div>
          <p class="percent__title">
            - letters {{allLetterPercent | number:'.1-2'}} %
          </p>
        </div>
        <div class="grow-1 flex flex_center">
          <div class="stats__icon icon_yellow"></div>
          <p class="percent__title">
            - latin letters {{latinLettersPercent | number:'.1-2'}} %
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
